<!DOCTYPE html>

<html>

<head>
    <title>Welcome</title>
    <link rel="icon" href="/img/sentara.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <form action = "/interviewer">
            <input type="submit" value="Interviewers">
        </form>
        <form action = "/applicant">
            <input type="submit" value="Applicants">
        </form>
    </div>

    {{>footer}}

    
</body>

</html>