<!DOCTYPE html>

<html>

<head>
    <title>Welcome</title>
    <link rel="icon" href="/img/sentara.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>Applicants</p>
        <form action = "/applicant">
            <input type="submit" value="Enter">
        </form>
        <p>Interviewers</p>
        <form>
            <input id="auth" placeholder="Input PIN">
            <button>Enter</button>
        </form>

        <p id="message-1"></p>
        
    </div>

    {{>footer}}
    <script src="/js/app.js"></script>
</body>

</html>