<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This is where interviewers will be able to browse submitted applications.</p>
        <form action = "/">
            <input type="submit" value="Back to home">
        </form>
    </div>
    
    {{>footer}}
</body>

</html>