<!DOCTYPE html>

<html>

<head>
    <title>Interviewer</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="flex-container">

        <div class = "flex-child list" id = 'list' width = "200px">
            <h2>Applicants</h2>
        </div>
        <div class = "flex-child info" id = 'info'>
            <embed
                src=""
                type="application/pdf"
                frameBorder="0"
                scrolling="auto"
                height="80%"
                width="100%"
            ></embed>
            <p id = 'position'></p>
            <p id = 'name'></p>
            <p id = 'phone'></p>
            <p id = 'email'></p>
        </div>
        <div class = "flex-child other">
            <div class = "positions">
                <div id = "pos-list">
                    <h2>Positions</h2>
                </div>
                <input type="text" id="position" placeholder = 'Position'/>
                <button id = "posButton">Submit</button>
            </div>
        </div>
        <form action = "/">
            <br><input type="submit" value="Back to home">
        </form>
    </div>
    

    <script src="/js/viewData.js"></script>
    <script src="/js/pos.js"></script>
</body>

</html>